html, body{
    margin:0;
    padding:0;
}
#game{
    background-color: rgb(168, 168, 168);
}
.board{
    border: 1 px solid black;
}
.player{
    width:40%;
    margin: 10px 5%;
    display:inline-block;
}
